<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Eatr</a> 
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="../#menu" style="margin-right: 1em">Menu</a>
                </li>
                <li>
                    <div class="btn-nav"><a class="btn btn-success btn-small navbar-btn" href="/cart">My Cart</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>





<!-- 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-default navbar-btn">Menu</button></li>
        <li>
          <div class="btn-nav"><button type="button" class="btn btn-default navbar-btn">Cart</button></li>
      </ul>
    </div>
  </div>
</nav> -->