<nav id="nav-bar">
    <!-- <img src="" class="logo"> --> <!-- Commented out until we have a logo img -->
    <span class="logo-holder">Logo Placeholder</span>
    <a href="#menu"><button class="menu">Menu <i class="fa fa-list-alt"></i></button></a>
    <a href="#"><button class="cart">Cart <i class="fa fa-shopping-cart"></i></button></a>
</nav>