<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Eatr</a> 
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="../#menu" style="margin-right: 1em">Menu</a>
                </li>
                <li>
                    <div class="btn-nav"><a class="btn btn-success btn-small navbar-btn" href="/cart">My Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
