<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="contain">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Eatr</a> 
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="../#the-menu">Menu <i class="fa fa-cutlery" aria-hidden="true"></i></a>
                </li>
                <li>
                    <div class="btn-nav"><a class="btn btn-success btn-small navbar-btn" href="/cart">My Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
