<nav id="nav-bar" style="background-color: black; position: fixed; width: 100%; line-height: 3.0; z-index: 1; padding: 0 1.5em 0 1.5em;">
    <!-- <img src="" class="logo"> --> <!-- Commented out until we have a logo img -->
    <span class="header" style="color:antiquewhite">Logo Placeholder</span>
    <a href="#menu" style="float: right;"><button class="menu">Menu <i class="fa fa-list-alt"></i></button></a>
    <a href="#" style="float: right;"><button class="cart">Cart <i class="fa fa-shopping-cart"></i></button></a>
</nav>