<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>

    // Remove the stuff below if it is later included in _header above
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class='cart-container'> 
      <div class='cart-header'>
      <h1>Your Cart</h1>
        <div class='cart-items-names'>
          <ul>
            <li>Sample Item 1</li>
            <li>Sample Item 2</li>
            <li>Sample Item 3</li>
          </ul>
        </div>
        <div class='cart-item-qty'>
          <ul>
            <li>Qty 1</li>
            <li>Qty 2</li>
            <li>Qty 3</li>
          </ul>
        </div>
        <div class='cart-item-price'>
          <ul>
            <li>Price 1</li>
            <li>Price 2</li>
            <li>Price 3</li>
          </ul>
        </div>
        <div class='cart-item-delete'>
          <ul>
            <li>X</li>
            <li>X</li>
            <li>X</li>
          </ul>
        </div>
        <div class ='cart-total-price'>
         <ul>
            <li>Sub Total: $X.XX</li>
            <li>GST: $X.XX</li>
            <li>PST: $X.XX</li>
            <li>----------</li>
            <li>Total: $X.XX</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
