<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Cart</title>
  <% include ./partials/_head %>

  <style>
    body {
      position: relative;
      top: 100px;
    }
    .cart-btn-row {
      position: relative;
      left: 35%;
      padding-bottom: 5px;
      padding-top: 5px; 
    }
    .cart-input {
      position: relative;
      left: 5%;
    }
    .cart-input-row {
      position: relative;
    }
    .input-table {
      position: relative;
      top: 20px;
      left: 5%;
    }
  </style>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <section class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Your Cart</h3>
        </div>

        <div class="panel-body">
          <p class="text-center">Please review your cart before checking out!</p>
        </div>

          <table class="table table-striped cart-items">
            <tr>
              <th>Item</th>
              <th class="text-right">Qty</th>
              <th class="text-right">Price</th>
            </tr>
            <!-- new cart items added here --> 
          </table>
          
          <table class="row pull-left input-table">
            <form action="/cart/place_order" id="order" method="POST">
              <tr class="cart-input-row">
                <th>Name: </th>
                <th><input class="cart-input cart-input-name" name="name" placeholder="Name" type="text"></th>
                <th class="cart-btn-row pull-right"><button type="button" class="btn btn-danger cart-btn pull-right">Clear Cart</button></th>
              </tr>
              <tr class="cart-input-row">
                <th>Phone Number: </th>
                <th><input class="cart-input cart-input-phone" name="phone" placeholder="Phone Number" type="text"></th>
                <th class="cart-btn-row pull-right"><button type="submit" class="checkout-btn btn btn-success pull-right">Checkout</button></th>
              </tr> 
            </form>
          </table>

          <table class="table price" style="width:40%; margin-left: auto;">
            <tr>
              <td></td>
            </tr>
            <!-- price goes here -->
          </table>
      </div>
    </div>
  </section>
</body>

</html>
