<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eatr</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
     <script type="text/javascript" src="/scripts/createDishHTML.js"></script>  <!-- Commented out until we have use of our database data -->

    <style>
      .cart {
        float: right;
      }
      #intro {
        height: 1006px;
      }
      #menu {
        height: 959px;
        position: relative;
      }
      .menu {
        float: right;
      }
      .menu-container {
        height: 900px;
        position: relative;
        top: 25px;
        width: 70%;
      }
      #nav-bar {
        background-color: black; 
        line-height: 3.0; 
        padding: 0 1.5em 0 1.5em;
        position: fixed; 
        width: 100%; 
        z-index: 1;         
      }
      #nav-bar .logo-holder {
        color: antiquewhite;
      }
    </style>

  </head>

  <body>
    <header><% include partials/_header %></header>

    <section id="intro">
      <img src="https://www.scandichotels.com/imagevault/publishedmedia/qn6infvg30381stkubky/scandic-sundsvall-city-restaurant-verket-10.jpg" class="heroimg" style="width: 100%; height: 1156px; position: relative; top: -150px;" >
    </section>

    <section id="menu">
      <div class="menu-container container jumbotron">
      </div>    
    </section>
    
    <footer>
    </footer>

  </body>
</html>
