<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome to Eatr</title>
  <% include ./partials/_head %>
</head>

<body>

  <header>
    <% include partials/_header %>
  </header>  

  <section class="banner"></section>

  <section id="block"></section> 
  
  <section id="the-menu"></section>
  <section class="container"> 
    <div id="menu">
      <div class="menu-page">
        <div class="row">
          <div class="col-md-12 text-center title">
            <h1 class="menu-title">Our Menu</h1>
          </div>
        </div>
        <div class="menu-items">
          <!-- Menu items get appended here-->
        </div>
      </div>
    </div>
  </section>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>

</html>
