<!DOCTYPE html>
<html lang="en">

<head>
  <title>Eatr</title>
  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   
  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/create_menu.js"></script> 
  <script type="text/javascript" src="/scripts/set_cart.js"></script> 

<style>
  .hero-img {
    background: url('https://www.scandichotels.com/imagevault/publishedmedia/qn6infvg30381stkubky/scandic-sundsvall-city-restaurant-verket-10.jpg') no-repeat top center; 
    background-size: 100%; 
    height: 1006px; 
    margin-top: -20px;
  }
</style>

</head>

<body>
  <header>
    <% include partials/_header %>
  </header>


  <div class="jumbotron hero-img">
  </div>
    
<section class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 style="padding-bottom: 30px;">Our Menu</h1>
    </div>
  </div>
  <div class="menu-items">
    <!-- Menu items get appended here-->
  </div>
</section>

  <footer>
  </footer>

</body>

</html>
