<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome to Eatr</title>
  <!-- External CSS -->
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/create_menu.js"></script>  
  <script type="text/javascript" src="/scripts/add_to_cart.js"></script>

<style>
  .hero-img {
    background: url('https://www.scandichotels.com/imagevault/publishedmedia/qn6infvg30381stkubky/scandic-sundsvall-city-restaurant-verket-10.jpg') no-repeat top center; 
    background-size: 100%; 
    height: 1006px; 
    margin-top: -20px;
  }
</style>

</head>

<body>
  <header>
    <% include partials/_header %>
  </header>


  <div class="jumbotron hero-img">
  </div>
    
<section class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 style="padding-bottom: 30px;">Our Menu</h1>
    </div>
  </div>
  <div class="menu-items">
    <!-- Menu items get appended here-->
  </div>
</section>

  <footer>
  </footer>

</body>

</html>
