<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Cart</title>
  <% include ./partials/_head %>

  <style>
    body {
      position: relative;
      top: 100px;
    }
  </style>
</head>

<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand return" href="/">Eatr</a> 
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <div class="btn-nav return"><a class="btn btn-primary btn-small navbar-btn" href="../#menu" style="margin-right: 1em">Menu</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</header>

<body>
  <section class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Your Cart</h3>
        </div>

        <div class="panel-body">
          <p class="text-center thank-you">Thank you for choosing Eatr!</p>
          <p class="text-center">Here is your order!</p>
        </div>

          <table class="table table-striped cart-items">
            <tr>
              <th>Item</th>
              <th class="text-right">Qty</th>
              <th class="text-right">Price</th>
            </tr>
            <!-- new cart items added here --> 
          </table>

          <table class="table price" style="width:40%; margin-left: auto;">
            <tr>
              <td></td>
            </tr>
            <!-- price goes here -->
          </table>
      </div>
    </div>
  </section>
</body>

</html>