.banner {
  height: 100vh; 
  position: relative;
  background: url('pictures/background.jpg') no-repeat top center; 
  background-size: 100%;     
  position: fixed;
  top: 0px;
  width: 100%; 
  z-index: -1;
}