.banner {
  height: 100vh; 
  position: relative;
  background: url('https://www.scandichotels.com/imagevault/publishedmedia/qn6infvg30381stkubky/scandic-sundsvall-city-restaurant-verket-10.jpg') no-repeat top center; 
  background-size: 100%;     
  position: fixed;
  top: 0px;
  width: 100%; 
  z-index: -1;
}