.footer {
background-color: #242628;
height: 100px;
z-index: 5;
position: relative;
  .footer-text {
    color: white;
    font-size: 2.0em;
    position: relative;
    right: 8%;
    top: 2%;
  }
}    