body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.hero-img {
background: url('https://www.scandichotels.com/imagevault/publishedmedia/qn6infvg30381stkubky/scandic-sundsvall-city-restaurant-verket-10.jpg') no-repeat top center; 
background-size: 100%; 
height: 1006px; 
margin-top: -20px;
}
